<footer class="footer-main">
    {{ site.title }} © {{ site.time | date: '%Y' }}

    <a class="link" href="{{ site.url }}/feed.xml" target="_blank">
        <i class="fa-solid fa-rss"></i>
    </a>

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo"
            >Indigo theme by Kopplin</a
        >
    </p>

    <p class="extra">
        <a
            class="link"
            href="https://www.flaticon.com/free-icons/physics"
            title="physics icons"
            >Physics icons created by Freepik - Flaticon</a
        >
    </p>
</footer>
